/* Footer  solucionar el problema con bootstrap*/

footer{
    width: 100%;
    height: 50px;
    color: $font-color;
    font-size: $font-md;
    bottom: 0;
    text-align: center;
    background-color: $background-footer;
    box-shadow: 0px 4px 4px $background-footer;
    padding: 1em 0;
    position: fixed;
}