header{
    @include flex(space-around,center);
    background-color: $background-header;
    width: 100vw;
    height: 70px;
    box-shadow: 0px 4px 60px 50px $background-header;
}

.logo__debora{
    font-size: $font-xl;
    padding: 0 80px;
    margin: 10px;
    color: $font-color;
    font-weight: 200;
}

ul{
    list-style-type: none;
}

ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.header--ul{
    display: flex;
    position: right;
    margin: 0 3em;
    padding: 0 1em;
    width: 100%;
    gap: 60px;
}

.menu__label, .menu__input{ 
    display: none;

}

ul li a{
    text-decoration: none;
    color: $font-color;
    font-size: 16px;
    float: left;
    display: inline;
}

/* Animacion del navbar */
.nav__trns{
    color: rgba(211, 211, 211, 0.445);
    
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);

    &::after{
content: "";
    display: block;
    background: rgba(211, 211, 211, 0.445);
    width: 90%;
    height: 3px;
    margin-top: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
    }
    &:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

/* Media queries */
@media screen and (max-width: 992px){
    .logo__debora{
        font-size: $font-xl;
        padding: 0;
    }
    .menu__label{
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px){
    .logo__debora{
        font-size: $font-xl;
        padding: 0;
    }
    .menu__label{
        display: block;
        cursor: pointer;
    }
    .header--ul{
        position: fixed;
        height: 65px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 320px){
    .logo__debora{
        font-size: $font-mq-md;
        padding: 0;
    }
    .menu__label{
        display: block;
        cursor: pointer;
    }
    .header--ul{
        position: fixed;
        height: 65px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
}