header{
    background-color: $background-header;
    width: 100vw;
    height: 70px;
    box-shadow: 0px 4px 60px 50px $background-header;
}

.logo__debora{
    font-size: $font-xl;
    padding: 0 80px;
    margin: 10px;
    color: $font-color;
    font-weight: 200;
}

ul{
    list-style-type: none;
}

ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.header--ul{
    margin: 0 3em;
    padding: 0 1em;
    gap: 50px;
}

.menu__label, .menu__input{ 
    display: none;

}

ul li a{
    text-decoration: none;
    color: $font-color;
    font-size: 16px;
    float: left;
    display: inline;
}

.icons2{
    visibility: hidden;
}

/* Animacion del navbar */
.nav__trns{
    color: rgba(211, 211, 211, 0.445);
    
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);

    &::after{
        content: "";
        display: block;
        background: rgba(211, 211, 211, 0.445);
        width: 90%;
        height: 3px;
        margin-top: 3px;
        clip-path: var(--clippy);
        transition: clip-path .5s;
    }
    &:hover{
        --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

/* Media queries */
@media screen and (max-width: 992px){
    .logo__debora{
        font-size: $font-xl;
        padding: 0;
    }
    .menu__label{
        display: block;
        cursor: pointer;
    }
    .icons2{
        visibility: visible;
    }
    .li__box{
        position: relative;
        width: 270px;
        height: 70px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }
}

@media screen and (max-width: 768px){
    .logo__debora{
        font-size: $font-xl;
        padding: 0;
    }
    .menu__label{
        display: block;
        cursor: pointer;
    }
    .header--ul{
        height: 65px;
        align-items: center;
    }
    .icons2{
        visibility: visible;
    }
    .li__box{
        width: 270px;
        height: 70px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        position: relative;
    }
}

@media screen and (max-width: 320px){
    .logo__debora{
        font-size: $font-mq-md;
        padding: 0;
    }
    .menu__label{
        display: block;
        cursor: pointer;
    }
    .header--ul{
        height: 65px;
    }
    .icons2{
        visibility: visible;
    }
    .li__box{
        align-items: center;
        width: 270px;
        height: 70px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }
}