.p__cuadro{
    font-size: $font-sm;
    margin-bottom: 2em;
    margin-left: 59px;
    margin-right: 50%;
    font-weight: normal;
    margin-top: 1em;
    text-align: left;
}

.sub__tittle{
    font-size: $font-xl;
    margin-bottom: 2em;
    margin-left: 59px;
    font-weight: normal;
    margin-top: 1em;
}

.video--size{
    width: 560px;
    height: 315px;
}

.grid__container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-column-gap: 2em;
    grid-row-gap: 1em;
}

.item1{
    grid-column: 1/-1;
}

.item2{
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: left;
}

.item4{
    grid-column: 2/3;
    grid-row: 2/3;
}

.item5{
    grid-column: 1/3;
    text-align: left;
}

@media screen and (max-width: 1024px){
    .video--size{
        width: 400px;
        height: 250px;
    }
}

@media screen and (max-width: 768px){
    .grid__container{
        display: block;
    }
    .video--size{
        width: 500px;
        height: 350px;
    }
    .item1{
        text-align: center;
    }
    .item2{
        text-align: center;
    }
    .item5{
        text-align: center;
    }
    .p__cuadro{
        margin: 2em;
        text-align: center;
    }
    .sub__tittle{
        font-size: $font-xl;
        margin: 1em 0 2em 0;
        font-weight: normal;
    }
}

@media screen and (max-width: 768px){
    .grid__container{
        display: block;
    }
    .video--size{
        width: 310px;
        height: 200px;
    }
    .item1{
        text-align: center;
    }
    .item2{
        text-align: center;
    }
    .item5{
        text-align: center;
    }
    .p__cuadro{
        margin: 2em;
        text-align: center;
    }
    .sub__tittle{
        font-size: $font-xl;
        margin: 1em 0 2em 0;
        font-weight: normal;
    }
}