/* Cartilla */

.cartilla__contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(4,1fr);
    grid-column-gap: 4em;
    grid-row-gap: 3em;
}

.titulo--grid{
    grid-column: 1/-1;
}

.position--left{
    grid-column: 2/3;
    justify-self: right;
}

.position--right{
    grid-column: 3/4;
}

.text--size{
    font-size: $font-sm;
}
.text--aling--left{
    text-align: left;
}
.text--aling--right{
    text-align: right;
}

.txt--left{
    @extend .text--aling--left
}

.images__cartilla--size{
    height: 350px;
    width: 670px;
    border-radius: 20px;
}

.subtitle{
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: normal;
    margin-top: 1em;
}

@media screen and (max-width: 1440px){
    .images__cartilla--size{
        height: 350px;
        width: 570px;
    }
    .cartilla__contenedor{
        grid-template-columns: repeat(3,auto);
        grid-column-gap: 2em;
        grid-row-gap: 2em;
    }
    .position--left{
        grid-column: 1/3;
    }
    .position--right{
        grid-column: 3/4;
    }
    .subtitle{
        font-size: $font-mq-xl;
    }
}

@media screen and (max-width: 1024px){
    .images__cartilla--size{
        height: 350px;
        width: 350px;
    }
    .cartilla__contenedor{
        grid-template-columns: repeat(3,auto);
        grid-column-gap: 2em;
        grid-row-gap: 2em;
    }
    .position--left{
        grid-column: 1/3;
    }
    .position--right{
        grid-column: 3/4;
    }
    .subtitle{
        font-size: $font-mq-md;
    }
    .text--size{
        font-size: $font-mq-sm;
    }
}

@media screen and (max-width: 768px){
.images__cartilla--size{
        height: 250px;
        width: 250px;
    }
    .cartilla__contenedor{
        grid-template-columns: repeat(3,auto);
        grid-column-gap: 1.5em;
        grid-row-gap: 2em;
    }
    .position--left{
        grid-column: 1/3;
    }
    .position--right{
        grid-column: 3/4;
    }
    .subtitle{
        font-size: $font-mq-md;
    }
    .text--size{
        font-size: $font-mq-xs;
    }
}

@media screen and (max-width: 425px){
    .images__cartilla--size{
            height: 150px;
            width: 150px;
        }
        .cartilla__contenedor{
            grid-column-gap: 1.5em;
            grid-row-gap: 2em;
        }
        .position--left{
            grid-column: 1/3;
        }
        .position--right{
            grid-column: 3/4;
        }
        .subtitle{
            font-size: $font-mq-md;
        }
        .text--size{
            font-size: $font-mq-xs;
        }
    }