/* Galeria */
.images--size{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
}
.flex__container{
    display: flex;
    flex: 25%;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.galeria__general{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 8%;
}

.sub__tittle2{
    font-size: $font-xl;
}
.galeria__picture{
    margin: 15px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.galeria__picture::before{
    content:"Click aqui";
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 20px;
    transform: translate(100%);
    transition: transform 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;

}

.galeria__picture:hover::before{
    transform: translate(0%);
}

@media screen and (max-width: 1440px){
    .flex__container{
        flex: 60%;
    }
    .sub__tittle2{
        font-size: $font-mq-md;
    }
}

@media screen and (max-width: 768px){
    .sub__tittle2{
        font-size: $font-mq-md;
    }
}

@media screen and (max-width: 425px){
    .images--size{
        height: 150px;
        width: 150px;
        border-radius: 20px;
    }
    .flex__container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .galeria__general{
        padding: 0;
    }
    .sub__tittle2{
        font-size: $font-mq-sm;
    }
    .galeria__picture{
        margin: 15px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        height: 150px;
        width: 150px;
        border-radius: 20px;
    }
    
    .galeria__picture::before{
        content:"Click aqui";
        position: absolute;
        height: 150px;
        width: 150px;
        background-color: rgba(100, 100, 100, 0.5);
        border-radius: 20px;
        transform: translate(100%);
        transition: transform 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
}

@media screen and (max-width: 320px){
    .images--size{
        height: 110px;
        width: 110px;
        border-radius: 15px;
    }
    .flex__container{
        display: grid;
        grid-template-columns: repeat(2,0.5fr);
    }
    .galeria__general{
        padding: 0;
    }
    .sub__tittle2{
        font-size: $font-mq-sm;
    }
    .galeria__picture{
        margin: 15px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        height: 110px;
        width: 110px;
        border-radius: 15px;
    }
    
    .galeria__picture::before{
        content:"Click aqui";
        position: absolute;
        height: 110px;
        width: 110px;
        background-color: rgba(100, 100, 100, 0.5);
        border-radius: 15px;
        transform: translate(100%);
        transition: transform 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
}