@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body */
body{
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 42%;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Lora', serif;
}

/* Main */
main{
    color: $font-color ;
    font-size: $font-md;
}

.texto__bienvenida{
    margin-right: 12%;
    margin-bottom: 10px;
    font-size: $font-xl;
    line-height: 31px;
    text-align: right;
    font-weight: 200;
}

.texto--padding{
    padding-top: 5%;
}

.texto__parrafo{
    text-align: right;
    margin-right: 12%;
    margin-left: 50%;
    line-height: 18px;
    font-size: $font-md;
    color: $font-color;
}

.parrafo--color{
    color: rgb#dadadada;
    background-color: map-get($colors, background-parrafo);
    box-shadow: 0px 0px 10px 10px map-get($colors, background-parrafo);
}

.cuadro__backg{
    background-color: $background-header;
    width: 90%;
    height: 79%;
    display: flex;
    margin: 1.5% 0 0 5vw;
    position: absolute;
    border-radius: 20px;
    overflow: hidden scroll;
}

.cuadro__backg--padding{
    text-align: center;
}

/*iconos*/

.icons{
    position: absolute;
    left: 85%;
    top: 90%;
    margin-top: 5px;
}

@media screen and (max-width: 992px){
    .icons{
        visibility: hidden;
    }
}

@media screen and (max-width: 768px){
    .form__tittle{
        font-size: $font-xl;
        grid-column: 1/4;
    }
    .text--size{
        font-size: $font-md;
    }
    .texto__bienvenida{
        font-size: $font-mq-xl;
    }
    .texto__parrafo{
        font-size: $font-mq-sm;
    }
    .icons{
        visibility: hidden;
    }
}

@media screen and (max-width: 320px){
    .form__tittle{
        font-size: $font-mq-md;
        grid-column: 2/5;
    }
    .cartilla__contenedor{
        grid-template-columns: repeat(2,auto);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }
    .text--size{
        font-size: $font-mq-xs;
    }
    .texto__bienvenida{
        font-size: $font-mq-md;
    }
    .texto__parrafo{
        font-size: $font-mq-xs;
    }
    .icons{
        visibility: hidden;
    }
}
