// variables

//fonts size
$font-xl: 24px;
$font-md: 16px;
$font-sm: 14px;
$font-mq-xl: 22px;
$font-mq-md: 20px;
$font-mq-sm: 15px;
$font-mq-xs: 12px;

//colors
$font-color: white;
$background-parrafo: rgba(0, 0, 0, 0.2);
$background-header: rgba(0, 0, 0, 0.5);
$background-footer: rgba(0, 0, 0, 0.25);
$color: rgba(211, 211, 211, 0.8);

//map
$colors: (
font-color: white,
background-parrafo: rgba(0, 0, 0, 0.2),
background-header: rgba(0, 0, 0, 0.5),
background-footer: rgba(0, 0, 0, 0.25),
color: rgba(211, 211, 211, 0.568));