@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Body */
body {
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 42%;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Lora', serif; }

/* Main */
main {
  color: white;
  font-size: 16px; }

.texto__bienvenida {
  margin-right: 12%;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 31px;
  text-align: right;
  font-weight: 200; }

.texto--padding {
  padding-top: 5%; }

.texto__parrafo {
  text-align: right;
  margin-right: 12%;
  margin-left: 50%;
  line-height: 18px;
  font-size: 16px;
  color: white; }

.parrafo--color {
  color: rgb #dadadada;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2); }

.cuadro__backg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 80%;
  margin: auto;
  display: flex;
  margin: 1.5% 0 0 5vw;
  position: absolute;
  border-radius: 5%;
  border-radius: 20px;
  overflow: hidden scroll; }

.cuadro__backg--padding {
  text-align: center; }

@media screen and (max-width: 768px) {
  .form__tittle {
    font-size: 24px;
    grid-column: 1/4; }
  .text--size {
    font-size: 16px; }
  .texto__bienvenida {
    font-size: 22px; }
  .texto__parrafo {
    font-size: 15px; } }

@media screen and (max-width: 320px) {
  .form__tittle {
    font-size: 20px;
    grid-column: 2/5; }
  .cartilla__contenedor {
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 1em;
    grid-row-gap: 1em; }
  .text--size {
    font-size: 12px; }
  .texto__bienvenida {
    font-size: 20px; }
  .texto__parrafo {
    font-size: 12px; } }

/* Galeria */
.images--size {
  height: 200px;
  width: 200px;
  border-radius: 20px; }

/* .galeria__general{
    width: 100%;
} */
.flex__container {
  display: flex;
  flex: 25%;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center; }

.sub__tittle2 {
  font-size: 24px; }

.galeria__picture {
  margin: 15px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 20px; }

.galeria__picture::before {
  content: "Click aqui";
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 20px;
  transform: translate(100%);
  transition: transform 0.4s;
  display: flex;
  align-items: center;
  justify-content: center; }

.galeria__picture:hover::before {
  transform: translate(0%); }

@media screen and (max-width: 1440px) {
  .flex__container {
    flex: 60%; }
  .sub__tittle2 {
    font-size: 20px; } }

@media screen and (max-width: 768px) {
  .sub__tittle2 {
    font-size: 20px; } }

@media screen and (max-width: 425px) {
  .images--size {
    height: 150px;
    width: 150px;
    border-radius: 20px; }
  .sub__tittle2 {
    font-size: 15px; }
  .galeria__picture {
    margin: 15px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 150px;
    width: 150px;
    border-radius: 20px; }
  .galeria__picture::before {
    content: "Click aqui";
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 20px;
    transform: translate(100%);
    transition: transform 0.4s;
    display: flex;
    align-items: center;
    justify-content: center; } }

/* Cartilla */
.cartilla__contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 4em;
  grid-row-gap: 3em; }

.titulo--grid {
  grid-column: 1/-1; }

.position--left {
  grid-column: 2/3;
  justify-self: right; }

.position--right {
  grid-column: 3/4; }

.text--size {
  font-size: 14px; }

.text--aling--left, .txt--left {
  text-align: left; }

.text--aling--right {
  text-align: right; }

.images__cartilla--size {
  height: 350px;
  width: 670px;
  border-radius: 20px; }

.subtitle {
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: normal;
  margin-top: 1em; }

@media screen and (max-width: 1440px) {
  .images__cartilla--size {
    height: 350px;
    width: 570px; }
  .cartilla__contenedor {
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 2em;
    grid-row-gap: 2em; }
  .position--left {
    grid-column: 1/3; }
  .position--right {
    grid-column: 3/4; }
  .subtitle {
    font-size: 22px; } }

@media screen and (max-width: 1024px) {
  .images__cartilla--size {
    height: 350px;
    width: 350px; }
  .cartilla__contenedor {
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 2em;
    grid-row-gap: 2em; }
  .position--left {
    grid-column: 1/3; }
  .position--right {
    grid-column: 3/4; }
  .subtitle {
    font-size: 20px; }
  .text--size {
    font-size: 15px; } }

@media screen and (max-width: 768px) {
  .images__cartilla--size {
    height: 250px;
    width: 250px; }
  .cartilla__contenedor {
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 1.5em;
    grid-row-gap: 2em; }
  .position--left {
    grid-column: 1/3; }
  .position--right {
    grid-column: 3/4; }
  .subtitle {
    font-size: 20px; }
  .text--size {
    font-size: 12px; } }

@media screen and (max-width: 425px) {
  .images__cartilla--size {
    height: 150px;
    width: 150px; }
  .cartilla__contenedor {
    grid-column-gap: 1.5em;
    grid-row-gap: 2em; }
  .position--left {
    grid-column: 1/3; }
  .position--right {
    grid-column: 3/4; }
  .subtitle {
    font-size: 20px; }
  .text--size {
    font-size: 12px; } }

.p__cuadro {
  font-size: 14px;
  margin-bottom: 2em;
  margin-left: 59px;
  margin-right: 50%;
  font-weight: normal;
  margin-top: 1em;
  text-align: left; }

.sub__tittle {
  font-size: 24px;
  margin-bottom: 2em;
  margin-left: 59px;
  font-weight: normal;
  margin-top: 1em; }

.video--size {
  width: 560px;
  height: 315px; }

.grid__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 1em; }

.item1 {
  grid-column: 1/-1; }

.item2 {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: left; }

.item4 {
  grid-column: 2/3;
  grid-row: 2/3; }

.item5 {
  grid-column: 1/3;
  text-align: left; }

@media screen and (max-width: 1024px) {
  .video--size {
    width: 400px;
    height: 250px; } }

@media screen and (max-width: 768px) {
  .grid__container {
    display: block; }
  .video--size {
    width: 500px;
    height: 350px; }
  .item1 {
    text-align: center; }
  .item2 {
    text-align: center; }
  .item5 {
    text-align: center; }
  .p__cuadro {
    margin: 2em;
    text-align: center; }
  .sub__tittle {
    font-size: 24px;
    margin: 1em 0 2em 0;
    font-weight: normal; } }

@media screen and (max-width: 768px) {
  .grid__container {
    display: block; }
  .video--size {
    width: 310px;
    height: 200px; }
  .item1 {
    text-align: center; }
  .item2 {
    text-align: center; }
  .item5 {
    text-align: center; }
  .p__cuadro {
    margin: 2em;
    text-align: center; }
  .sub__tittle {
    font-size: 24px;
    margin: 1em 0 2em 0;
    font-weight: normal; } }

.form__tittle {
  font-size: 24px;
  margin-bottom: 2em;
  font-weight: normal;
  margin-top: 1em; }

.contacto--margin {
  margin-top: 20px; }

.input {
  margin-top: 2em;
  font-size: 14px;
  padding: .6em .3em;
  background: none;
  border: none;
  background-color: rgba(211, 211, 211, 0.568);
  border-radius: 5px;
  outline: none;
  border-bottom: 1px solid rgba(211, 211, 211, 0.568); }

.inputs__textarea--margin {
  margin: 25px 0 25px 0; }

.input__presu--position {
  display: flex;
  align-items: center; }

.input--margin {
  margin: 0 0 2em 0; }

.margin--right {
  margin-right: 2em; }

.cuadro__texto {
  width: 49%;
  height: 5em;
  padding: 1em;
  font-size: 14px;
  background: rgba(217, 217, 217, 0.4);
  border-radius: 20px;
  border: none;
  background-attachment: fixed; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 70px;
  box-shadow: 0px 4px 60px 50px rgba(0, 0, 0, 0.5); }

.logo__debora {
  font-size: 24px;
  padding: 0 80px;
  margin: 10px;
  color: white;
  font-weight: 200; }

ul {
  list-style-type: none; }

ol {
  list-style-type: none; }

a {
  text-decoration: none; }

.header--ul {
  display: flex;
  position: right;
  margin: 0 3em;
  padding: 0 1em;
  width: 100%;
  gap: 60px; }

.menu__label, .menu__input {
  display: none; }

ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  float: left;
  display: inline; }

/* Animacion del navbar */
.nav__trns {
  color: rgba(211, 211, 211, 0.445);
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }
  .nav__trns::after {
    content: "";
    display: block;
    background: rgba(211, 211, 211, 0.445);
    width: 90%;
    height: 3px;
    margin-top: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s; }
  .nav__trns:hover {
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%); }

/* Media queries */
@media screen and (max-width: 992px) {
  .logo__debora {
    font-size: 24px;
    padding: 0; }
  .menu__label {
    display: block;
    cursor: pointer; } }

@media screen and (max-width: 768px) {
  .logo__debora {
    font-size: 24px;
    padding: 0; }
  .menu__label {
    display: block;
    cursor: pointer; }
  .header--ul {
    position: fixed;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 320px) {
  .logo__debora {
    font-size: 20px;
    padding: 0; }
  .menu__label {
    display: block;
    cursor: pointer; }
  .header--ul {
    position: fixed;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center; } }

/* Footer  solucionar el problema con bootstrap*/
footer {
  width: 100%;
  height: 45px;
  color: white;
  font-size: 16px;
  bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1em 0;
  position: fixed; }
