@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

 *{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Lora', serif;
}

header{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 70px;
    box-shadow: 0px 4px 60px 50px rgba(0, 0, 0, 0.5);
}

nav{
    float: right;
}

ul{
    list-style-type: none;
}

ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.header--ul{
    display: flex;
    position: right;
    margin: 0 3em;
    padding: 0 1em;
    width: 100%;
}

.header--txt--right{
    display: block;
    padding: 0 40px;
    float: right;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    float: left;
    display: inline;
}

main{
    color: white ;
    font-size: 16px;
}

/* .texto__bienvenida{
    margin-right: 5.5%;
    margin-top: 10%;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
} */

.texto__parrafo{
    text-align: right;
    margin-top: 14%;
    margin-right: 5.5%;
    margin-left: 50%;
    line-height: 18px;
    font-size: 16px;
}

.logo__debora{
    font-size: 24px;
    padding: 0 80px;
    margin: 10px;
    color: white;
    font-weight: 200;
}

.cuadro__backg{
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    margin-left: 5%;
    padding: 0%;
    position: absolute;
    border-radius: 5%;
    border-radius: 20px;
    overflow: hidden;
}

.cuadro__backg--padding{
    text-align: center;
}

.form__tittle{
    font-size: 24px;
    margin-bottom: 2em;
    font-weight: normal;
    margin-top: 1em;
}

.input{
    margin-top: 2em;
    width: 95%;
    font-size: 14px;
    padding: .6em .3em;
    background: none;
    border: none;
    background-color: rgb(217, 217, 217, 0.1);
    border-radius: 5px;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Lora', serif;
}

.inputs__textarea--margin{
    margin: 25px 0 25px 0;
}

.cuadro__exto{
    width: 90%;
    height: 5em;
    padding: 1em;
    font-size: 14px;
    background: rgb(217, 217, 217, 0.4);
    border-radius: 20px;
    border: none;
}

footer{
    width: 100%;
    height: 20px;
    color: white;
    font-size: 16px;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1em 0;
}